.navbar__left {
    position: fixed;
    height: calc(100% - 80px);
    width: 240px;
    bottom: 0;
    background: #0A2558;
    transition: all 0.5s ease;
    z-index: 100;

    .nav__left__header {
        color: #fff;
        display: flex;
        align-items: center;
        height: 80px;
        cursor: pointer;

        .title__icon {
            font-size: 22px;
            min-width: 60px;
            text-align: center;
        }

        .title__header {
            font-size: 25px;
            overflow: hidden;
            letter-spacing: 1px;
            white-space: nowrap;
        }
    }

    .left__list {
        padding-left: 0 !important;
        .left__item {
            position: relative;
            list-style-type: none;
            width: 100%;

            .left__link {
                text-decoration: none;
                display: flex;
                justify-content: space-between;
                transition: all 0.4s ease;
                overflow: hidden;
                
                .letter {
                    display: flex;
                    align-items: center;

                    span {
                        height: 50px;
                        line-height: 50px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 500;
                        white-space: nowrap;
    
                        &:nth-child(1) {
                            min-width: 60px;
                            text-align: center;
                        }
                    }
                }

                .icon__down {
                    font-size: 25px;
                    color: #fff;
                    height: 50px;
                    line-height: 50px;
                    margin-right: 10px;
                    // display: flex;
                    // align-items: center;
                }

                .rotate {
                    transform: rotate(90deg);
                    transition: all 0.3s ease;
                }

                &:hover {
                    opacity: 1;
                    letter-spacing: 1px;
                    background-color: #173263;
                }
            }

            .item__menu {
                display: none;
                transition: all 0.4s ease-in;
                padding-left: 0 !important;

                .menu__list {
                    list-style-type: none;
                    padding: 5px 10px 10px 80px;
                    background: #173263;
                    transition: all 0.4s ease-in-out;

                    .menu__link {
                        text-decoration: none;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 500;
                    }
                    &:hover {
                        opacity: 1;
                        font-weight: 500;
                    }
                }

                .blank {
                    display: none;
                }
            }

            .active {
                display: block;
            } 
        }
    }
}

.close {
    width: 60px;

    .item__menu {
        position: absolute;
        left: 100%;
        top: -10px;
        border-radius: 10px;
        opacity: 0;
        pointer-events: none;
        min-width: 120px;
        border-radius: 0 6px 6px 0;
        overflow: hidden;
        padding-left: 0 !important;

        .menu__list {
            padding: 0 20px !important;

            .menu__link {
                height: 50px;
                line-height: 50px;
                font-size: 20px;
            }
        }
    }

    .active {
        display: none;
    }

    .blank {
        display: block !important;
    }
}

.close .left__item:hover .item__menu {
    display: block;
    opacity: 1;
    top: 0;  
    pointer-events: auto;
}

.profile {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 30px 10px;
    transition: all 0.5s ease;


    .profile__container {
        display: flex;
        align-items: center;
        cursor: pointer;

        .profile__img {
            background: #173263;
            padding: 10px;
            border-radius: 50%;
            overflow: hidden;
            max-height: 60px;

            img {
                height: 40px;
                width: 40px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .profile__intro {
            white-space: nowrap;
            margin-left: 10px;

            div {
                color: #fff;
                font-weight: 400;

                &:nth-child(2) {
                    font-size: 13px;
                }
            }
        }
    }

    .profile__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 15px;
        font-size: 35px;
        color: #fff;
        cursor: pointer;
        opacity: 0.8;
        transition: all 0.5s ease-in;

        &:hover {
            opacity: 1;
        }
    }
}

.shut_down {
    display: none;
}

.nav__top {
    position: relative; 
    width: calc(100% - 0px);
    background: #f5f5f5;
    left: 240px;
    transition: all 0.5s ease;

    .nav__top__header {
        display: flex;
        justify-content: space-between;
        height: 80px;
        background: #fff;
        display: flex;
        align-items: center;
        position: fixed;
        width: calc(100% - 240px);
        left: 240px;
        z-index: 100;
        padding: 0 20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;

        .header__logo {
            display: flex;
            align-items: center;
            cursor: pointer;

            span {
                font-size: 30px;
                font-weight: 500;
                transition: all 0.3s ease;

                &:first-child {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    opacity: 0.7;
                }

                &:first-child:hover {
                    opacity: 1;
                }

                &:last-child:hover {
                    color: red;
                }
            }
        }

        .search-box {
            position: relative;
            height: 50px;
            max-width: 550px;
            width: 100%;
            margin: 0 20px;

            input {
                height: 100%;
                width: 100%;
                outline: none;
                background: #F5F6FA;
                border: 2px solid #EFEEF1;
                border-radius: 6px;
                font-size: 18px;
                padding: 0 15px;
            }

            span {
                position: absolute;
                height: 40px;
                width: 40px;
                background: #2697FF;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 4px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                font-size: 22px;
                transition: all 0.4 ease;
                cursor: pointer;
            }   
        }

        .header__icons {

            a {
                font-size: 25px;
                margin-right: 20px;
                cursor: pointer;
                text-decoration: none;
                color: #111;

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

// Co dan navbar
.close ~ .nav__top .nav__top__header {
    left: 60px;
    width: calc(100% - 60px);
}


// Footer

.footer {
    position: relative;
    width: calc(100% - 240px);
    top: 80px;
    left: 240px;
    transition: all 0.5s ease;
    background-color: #111;

    .footer__content {
        columns: 4;
        padding: 20px 2rem; 
        border-bottom: 2px solid #fff;
        margin-bottom: 20px;

        .content{
            width: 100%;
            // text-align: center;
            padding-left: 20px;
            min-height: 250px;

            .title {
                font-size: 20px;
                font-weight: 500;
                color: #fff;
                margin-bottom: 10px;
            }

            .list__text {
                padding-left:  0 !important;
                .list__item {
                    list-style-type: none;
                    margin-bottom: 10px;

                    .list__link {
                        text-decoration: none;
                        color: #fff;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.carousel{
    position: relative;
    width: calc(100% - 240px);
    top: 80px;
    left: 240px;
    transition: all 0.5s ease;
    margin: 0 !important;

   .carousel-control-next {
        right: 20px !important;
        margin: 0 !important;
        width: none ;
   }

   .carousel-control-prev {
    left: 20px !important;
    width: none ;
   }

    h3 {
        padding: 3rem 0 0 4rem;
        font-size: 25px;
        font-weight: 500;
        color: #777;
    }
}

.list__product {
    padding: 1rem 0 2rem 0;

    .product {
        position: relative;
        cursor: pointer;
        padding: 10px;
        transition: all 0.4s ease;
        overflow: hidden;

        .infor__product {
            position: absolute;
            bottom: -5%;
            left: 50%;
            width: 90%;
            padding: 0 10px;
            transform: translate(-50%, -50%);
            transition: all 0.5s ease;
            opacity: 0;

            h5 {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 5px;
            }

            span {
                font-size: 14px;
            }
        }

        &:hover .infor__product {
            transform: translate(-50%, -70%);
            opacity: 1;
        }

        img {
            width: 100%;
        }
    }

    
    .col-1 {width: 19%;}
}

.container {
    width: 90% !important;
}

.carousel__product {

    button {
        top: 50%;
        bottom: 35% !important;
    }
}

